<!DOCTYPE html>
<html>
 <%- include partials/header %>  
  <body>
    <%- include partials/navbar %>      
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Create user</h1>
         <form method="post" action="/register" class="form-inline">
            <input type="text" class="form-control mr-sm-2" name="email" placeholder="email">
            <input type="text" class="form-control mr-sm-2" name="password" placeholder="password">
            <input type="text" class="form-control mr-sm-2" name="confirmpassword" placeholder="confirm password">
            <input type="submit" class="btn btn-outline-default my-2 my-sm-0" value="Register">
        </form>
      </div>
    </main>
  </body>
<%- include partials/footer %>